table{
    width: 100%;
}
td{
    position: relative;
    vertical-align: top;
}
.td-op{
    position: relative;
    width: 86px;
}
.work-node{
    height: inherit;
    width: inherit;
}
.builder{
    height: inherit;
    max-height: inherit;
    overflow-x: hidden;
    overflow-y: auto;
}

.decision-groups{
    clear: both;
}
.decision-group {
    clear: both;
    position: relative;
}

.add-node{
    margin: 5px 5px 5px 5px;
}

.prop-group{
    position: relative;
    margin: 5px 0 0 0;
    padding: 0 5px 42px 5px;
    border: solid 1px #D4D4D4;
}

.rmv-group{
    position: absolute;
    bottom: 5px;
    right: 0;
}

.rmv-group > span{
    position: relative;
    top: 1px;
    left: -1px;
}

.add-rule{
    position: absolute;
    bottom: 5px;
    left: 6px;
}

.add-rule > span{
    position: relative;
    top: 1px;
    left: -1px;
}


.decision-group:first-child{
    margin-top: 0;
}

.bottom-grey{
    border-bottom: solid 1px #D4D4D4;
}

.left-grey{
    border-left: solid 1px #D4D4D4;
}

.active {
    background-color: #286090 !important;
    color: #ffffff !important;
    font-weight: bold;
}

.operator {
    background-color: #D4D4D4;
    color: #333333;
    font-weight: bold;
}

.brace-node{
    position: relative;
    margin-top: 5px;
    margin-left: -36px;
    width: 100%;
}

.curly-brace
{
    width: 32px;
    position: absolute;
    left: 35px;
}

.brace
{
    height: 50%;
    margin-left: 10px;
}

.brace:before,
.brace:after
{
    content: "";
    width: 60px;
    height: 50%;
    position: absolute;
    display: block;
}

.brace.brace-top:before
{
    border-left: 5px solid #286090;
    border-top-left-radius: 20px;
    left: 65px;
}
.brace.brace-top:after
{
    border-right: 5px solid #286090;
    border-bottom-right-radius: 20px;
    margin-top: 15px;
}
.brace.brace-bottom:before
{
    border-left: 5px solid #286090;
    border-bottom-left-radius: 20px;
    margin-top: 35px;
    left: 65px;
}
.brace.brace-bottom:after
{
    border-right: 5px solid #286090;
    border-top-right-radius: 20px;
    margin-top: 15px;
}

.media{
    margin-top: 5px !important;
}
.media-body .active-link{
    position: relative;
    top: -2px;
    padding: 2px 2px;
    cursor: pointer;
}

.media-body .external-url{
    cursor: pointer;
    position: relative;
    top: -6px;
}

.string-val{
    min-width: 400px !important;
    width: 400px !important;
}

.ellipsis-left{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: left;
}


