
.node.circle {
    border: solid 2px #c3c3c3;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    min-width: 32px;
    min-height: 32px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
}

.node.leaf{
    -webkit-border-top-left-radius: 50%;
    -webkit-border-bottom-left-radius: 50%;
    -moz-border-radius-bottomleft: 50%;
    -moz-border-radius-topleft: 50%;
}
.js-mindmap-active .node.active, .js-mindmap-active .node.activeparent {
    min-width: 40px;
    min-height: 40px;
}

.js-mindmap-active .node.active .cvss, .js-mindmap-active .node.activeparent .cvss {
    min-width: 16px;
    min-height: 32px;
}

.js-mindmap-active .node.active .cvss.base, .js-mindmap-active .node.activeparent .cvss.base, .cvss.base{
    -webkit-border-top-left-radius: 32px;
    -webkit-border-bottom-left-radius: 32px;
    -moz-border-radius-topleft: 32px;
    -moz-border-radius-bottomleft: 32px;
}
.js-mindmap-active .node.active .cvss.temporal, .js-mindmap-active .node.activeparent .cvss.temporal, .cvss .temporal {
    -webkit-border-top-right-radius: 32px;
    -webkit-border-bottom-right-radius: 32px;
    -moz-border-radius-topright: 32px;
    -moz-border-radius-bottomright: 32px;
}

.enclave{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0  !important;
    border-radius: 0  !important;
}

.shadowed{
    color: #000;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.node .score{
    position: absolute;
    display: block;
    top: 0;
    text-align: center;
    width: 24px;
    height: 24px;
    padding-top: 4px;
    white-space: nowrap;
    overflow: hidden;
}

.js-mindmap-active .node.active .score, .js-mindmap-active .node.activeparent .score, .node.enclave .score{
    padding-top: 8px;
}

.cvss{
    clear: both;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    border: none;
    width: 12px;
    height: 24px;
}

.cvss.exploit{
    -webkit-border-top-left-radius: 24px!important;
    -webkit-border-bottom-left-radius: 24px!important;
    -moz-border-radius-topleft: 24px!important;
    -moz-border-radius-bottomleft: 24px!important;
}

.cvss.impact{
    -webkit-border-top-right-radius: 24px!important;
    -webkit-border-bottom-right-radius: 24px!important;
    -moz-border-radius-topright: 24px!important;
    -moz-border-radius-bottomright: 24px!important;
}

.cvss.node{
    cursor: pointer;
}
.cvss.red{
    background-color: #ff0000;
}
.cvss.yellow{
    background-color: #ffff00;
}
.cvss.green{
    background-color: #008000;
}
.cvss.grey{
    background-color: #808080;
}
.cvss.blue{
    background-color: #31708f;
}

.cvss.enclave-named {
    border: solid 2px #c3c3c3;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 24px;
    height: 24px;
    max-width: 24px;
    min-height: 24px;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
}

.cvss.enclave-named .score {
    width: auto !important;
    font-size: 10px !important;
}



