.alert{
    white-space: normal;
    margin: -50px 30px !important;
    min-width: 400px !important;

}
.agreement{
    text-align: center;
    margin-bottom: 10px;
}
.accept{
    text-align: right;
}