// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "Icons8";
$icons8-font-path: "../fonts";

$icons8-var-android-os: "\f10e";
$icons8-var-apple-filled: "\f101";
$icons8-var-beos: "\f108";
$icons8-var-debian: "\f10d";
$icons8-var-dos: "\f105";
$icons8-var-free-bsd-filled: "\f103";
$icons8-var-haiku: "\f104";
$icons8-var-linux-filled: "\f102";
$icons8-var-mandriva: "\f10f";
$icons8-var-netscape: "\f10a";
$icons8-var-os2: "\f107";
$icons8-var-red-hat: "\f110";
$icons8-var-suse: "\f10b";
$icons8-var-symbian: "\f10c";
$icons8-var-ubuntu: "\f111";
$icons8-var-unix: "\f106";
$icons8-var-windows-xp: "\f100";
$icons8-var-windows8: "\f109";
