.dropdown-toggle{
    z-index: 9999999 !important;
}
.tNode{
    overflow-y: hidden;
    overflow-x: auto;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.tGroup{
    font-size: 14px;
    margin: 2px 2px;
    font-weight: bold;
}
.tHeader{
    width: 100%;
    z-index: 1;
}
.tHead{
    position:relative;
    width: 100%;
    top: 0;
}

.tHead .tRow .tCell {
    background-color: #d9edf7;
    text-align: center !important;
}

.tRow, .tCell{
    min-height: 80px;
    height: 80px;
    max-height: 80px;
}

.tHead .tRow, .tHead .tCell{
    min-height: 28px !important;
    height: 28px !important;
    max-height: 28px !important;
}

.tRow{
    width: 100%;
    position:relative;
    white-space: nowrap;
}

.tRow .tCell{
    width: 20%;
    clear: both;
}

.tSubRow{
    clear: both;
}

.tCell{
    position: absolute !important;
    top: 0;
}
.tCell-in{
    position: relative;
    border: 1px solid #c3c3c3;
    border-top: none;
    height: inherit;
    width: 100%;
    clear: both;
    padding: 4px 2px 2px 2px;
    vertical-align: top;
}

p {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all !important;
}
.tTable{
    position: relative;
    top:-2px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
  /* border-bottom: 1px solid #c3c3c3;*/
}
.tContent{
    position: relative;
}
.tGrid{
    position: absolute;
}
.tbody{
    position: relative;
}
.tRow:hover > div{
    background-color: #ecf028;
}
.grid-sub-view{
    margin-bottom: 18px;
    overflow-x: auto !important;
}
.spring-body{
    padding: 0 0 0 0 !important;
}