.h5{
    margin: 0 0 0 0 !important;
}
.sum-top-findings .default-grey{
    margin-top: 0 !important;
}
.metric-card .default-grey {
    margin-top: 0 !important;
}
.sum-risk, .sum-risk > div, .sum-top-findings, .sum-top-findings > div{
    clear: both;
    min-height: 410px !important;
    height: 410px !important;
    overflow: hidden !important;
}
.sum-risk{
    min-width: 320px;
    width: 320px;
}

.search-filter-popover{
    min-width: 250px !important;
    max-width: 250px !important;
}

.search-filter-popover .pop-content {
    box-sizing: content-box !important;
    width: 230px;
    max-width: 230px;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
}

.search-filter-popover .pop-title{
    padding: 5px 5px 5px 5px;
    width: calc(100% - 10px);
}

.col-findings{
   height: calc(100% - 500px);
    position: relative;
    padding: -5px 5px 5px 5px;
}