
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 1px) and (max-width: 767px) {
    .cover-art-block{
        display: block !important;
    }

    .content-block{
        display: block !important;
    }

    .content-block > div{
        margin: 10px 10px 5px 25px;
    }
}

.content-block h4{
    margin: 0 5px 10px 0 !important;
}

.entity .cover-art{
    margin: 0 10px 0 25px;
}

.entity .cover-art img.large{
    margin: 0 auto 0 auto;
}

.cover-art-block{
    display: table-cell;
    vertical-align: top;
}

.content-block{
    position: relative;
    clear: both;
    display: block;
    vertical-align: top;
    padding: 0 25px;
}

.content-block > div{
    clear: both;
}