/* http://tobiasahlin.com/spinkit/ */
.ls-cube {
    position: absolute;
    width: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    background-color: #d9edf7;
    text-align: center;
    margin: auto auto;
    -webkit-animation: ls-rotateplane 1.2s infinite ease-in-out;
    animation: ls-rotateplane 1.2s infinite ease-in-out;
}

.ls-cube .ls-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: ls-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: ls-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.ls-cube .ls-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.ls-cube .ls-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.ls-cube .ls-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.ls-cube .ls-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.ls-cube .ls-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.ls-cube .ls-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.ls-cube .ls-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.ls-cube .ls-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.ls-cube .ls-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes ls-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

@keyframes ls-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

@-webkit-keyframes ls-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes ls-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}