body {
    background-color: #333;
}
.spinner {
    display: block;
    width: 10em;
    height: 10em;
    position: relative;
    margin: 5em auto;
}
.dot-holder {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 5em 5em;
}
.dot-holder .dot {
    display: block;
    width: 1em;
    height: 1em;
    background-color: #0080ff;
    animation: spinner 1s infinite alternate ease-in-out;
    border-radius: 9999px;
}
.dot-holder:nth-child(1) {
    transform: rotate(45deg);
}
.dot-holder:nth-child(1) .dot {
    animation-delay: 0.25s;
}
.dot-holder:nth-child(2) {
    transform: rotate(90deg);
}
.dot-holder:nth-child(2) .dot {
    animation-delay: 0.5s;
}
.dot-holder:nth-child(3) {
    transform: rotate(135deg);
}
.dot-holder:nth-child(3) .dot {
    animation-delay: 0.75s;
}
.dot-holder:nth-child(4) {
    transform: rotate(180deg);
}
.dot-holder:nth-child(4) .dot {
    animation-delay: 1s;
}
.dot-holder:nth-child(5) {
    transform: rotate(225deg);
}
.dot-holder:nth-child(5) .dot {
    animation-delay: 1.25s;
}
.dot-holder:nth-child(6) {
    transform: rotate(270deg);
}
.dot-holder:nth-child(6) .dot {
    animation-delay: 1.5s;
}
.dot-holder:nth-child(7) {
    transform: rotate(315deg);
}
.dot-holder:nth-child(7) .dot {
    animation-delay: 1.75s;
}
.dot-holder:nth-child(8) {
    transform: rotate(360deg);
}
.dot-holder:nth-child(8) .dot {
    animation-delay: 2s;
}
@keyframes spinner {
    0% {
        opacity: 0;
        transform: translate3d(0, 0, 1px);
    }
    100% {
        opacity: 0.7;
        transform: translate3d(6.25em, 6.25em, 1px);
    }
}
