.tabbable, .tab-pane, .tab-content{
    height: 100% !important;
}

.tree-node, .panel-contain{
    height: 100% !important;
}
.enclave-customized, .enclave-customized > a{
    font-weight: bold;
    color: #f0ab36;
    cursor: help;
}
.results-ht{
    margin-top: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}