.tabbable, .tab-pane, .tab-content{
    height: 100% !important;
}

.tree-node, .panel-contain{
    height: 100% !important;
}
.col-middle {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.col-left{
    padding-right: 5px !important;
}
.col-right{
    padding-left: 5px !important;
}
.glyphicons-file-plus{
    font-size: 12px;
}
.panel-heading .pnl-title{
    position: relative;
    top: 4px;
}
.panel-heading .glyphicons, .panel-heading .glyphicon {
    font-size: 16px;
}
span.header-text {
    position: relative;
    top: 4px;
}
.hdr-pos, .hdr-sc-pos{
    max-height: 49px;
    height: 49px;
}
.result .panel-heading-title{
    margin-left: 0 !important;
}

.hdr-sc-pos .glyphicon{
    position: relative;
    top: 6px;
    margin-right: 10px !important;
}
.col-md-6 {
    overflow-x: hidden;
    overflow-y: auto;
}
.acl-positions{
    overflow-x: hidden;
    overflow-y: auto;
}
