.popover{
    word-break: break-all;
    background-color: #ffffff !important;
    min-width: 600px;
}

.panel-middle{
    overflow-y: auto;
    overflow-x: hidden;
}

.group-item{
    margin-right: 10px;
}