.filter-bar-header{
    padding: 5px;
    background-color: #f5f5f5;
}
.filter-bar-header-content{
    position: relative;
    margin-left: 40px;
    min-height: 60px;
    padding: 5px 5px;
}
.filter-bar-header-title{
    font-size: 14px;
}
.filter-bar-header-glyph{
    position: absolute;
    top: 5px;
    font-size: 32px;
}
.filter-bar-panel .panel-body{
    font-size: 12px !important;
}
.filter-bar-w{
    clear: both;
    z-index: 999999;
}

.filter.btn{
    font-size: 12px;
    position: relative;
    float: left;
}

.filter.btn > ul{
}

.filter-sel{
    position: relative;
    float: left;
    margin-right: 5px;
}

.filter-sel > div{
    margin-right: 20px;
    padding: 5px;
    line-height: 24px;
}
.filter-sel > .glyphicon{
    position: absolute;
    right: 2px;
    top: 10px;
    cursor: pointer;
}
th{
    text-align: center;
}

.filter-bar-panel td, .filter-bar-panel th{
    padding: 2px !important;
}

.filter-bar-ofh{
    overflow: hidden;
}

.group-item{
    clear: both;
    margin: 0 2px 10px 0;
}
.group-node{
    line-height: 20px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
}

.triangle-top-left-inner-red{
    border-color: #d9534f transparent transparent transparent;

}
.triangle-top-left-inner-green{
    border-color: #5cb85c transparent transparent transparent;
}

.triangle-top-left{
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
    border-width: 40px 40px 0 0;
    position: absolute;
    top: 0;
    left: 0;
}
.triangle-top-left-inner-red, .triangle-top-left-inner-green{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 36px 36px 0 0;
    position: absolute;
    top: 0;
    left: 0;
}
.triangle-top-left-inner-sm-red{
    border-color: #d9534f transparent transparent transparent;

}
.triangle-top-left-inner-sm-green{
    border-color: #5cb85c transparent transparent transparent;
}

.triangle-top-left-sm{
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
    border-width: 20px 20px 0 0;
    position: absolute;
    top: 0;
    left: 0;
}
.triangle-top-left-inner-sm-red, .triangle-top-left-inner-sm-green{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 16px 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

.grouped-node-iframe, .grouped-node-iframe body {
    overflow: hidden;
    border: none;
    clear: both;
}
