#content{
    margin: 100px auto;
}

table.jVulnMatrix{
    border: solid 1px #c3c3c3;
    padding: 0;
    text-align: center;
}

.jVulnMatrix td{
    border: solid 1px #c3c3c3;
}
.jVulnMatrix .head{
    background-color: #45a9e4;
}

.jVulnMatrix .axis{
    background-color: #85c9ee;
    font-size: 10px;
}
.severity{
    font-size: 8px;
}
.jVulnMatrix .head:first-child{
    border-bottom-color: #45a9e4 !important;
}
.jVulnMatrix .axis.first{
    border-top-color: #45a9e4 !important;
    background-color: #45a9e4 !important;
}