.center{
    margin: 5px 5px 5px 5px;
    min-height: 100px;
    text-align: center;
    vertical-align: middle;
}
#dropZone, #services {
    display: none;
}
#fileupload{
    display: none;
}
#className{
    margin: 5px;
}
#mapping{
    position: relative;
    width: 100%;
}
.progress{
    display: none;
    margin: 20px 20px 0 20px;
}

#step2{
    position: relative;
}
#step2Title, #coverZone2 {
    font-size: 16px;
    line-height: 40px;
}
#step2Title{
    display: none;
}

.record{
    position: absolute;
    top: 28px;
    background-color: #ffffff;
    border: solid 1px #D4D4D4;
    min-height: 200px;
    min-width: 300px;
    z-index: 999999;
}
.record > div{
    position: relative;
}
.record .title{
    background-color: #d9edf7;
    border: solid 1px #bce8f1;
    line-height: 30px;
    min-height: 30px;
    text-align: center;
}

.property-row{
    background-color: #ffffff;
    border: solid 1px #D4D4D4;
    line-height: 30px;
    text-align: left;
}

div.property-row, .property-row.ui-droppable > tbody > tr > td, .property-row.ui-droppable > tr > td{
    padding-left: 5px;
}


.property-row.ui-draggable:hover{
    cursor: move !important;
    background-color: #D4D4D4;
}

.drop-hover{
    background-color: #D4D4D4;
}

.drop-class-hover{
    background-color: #d6e9c6 !important;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 555555;
}

.bootstrap-select {
    min-width: 300px;
    margin: 10px !important;
}

#services > div{
    margin: 0 10px 10px 10px;
}

