.rotate-left{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

body,html, h1, h2, h3, h4, h5, h6 {
    font-family:"sofia_pro_regularregular",Helvetica,Arial,sans-serif !important;
}

.italics, .data-label{
    font-family:"sofia_pro_lightitalic",Helvetica,Arial,sans-serif !important;
}

body,html{
    min-height: 100%;
    height: 100%;
    padding: 0 !important;
    background-color: #fff;
    overflow: hidden;
}

.pnl-title{
    position: relative;
    top: 8px;
    display: inline-block;
}

.panel-heading .glyphicons, .panel-heading .glyphicon{
    font-size: 24px;
}

.page-cover{
    position: absolute !important;
    top: 0;
    z-index: 2147480000;
    width: 100%;
    height: 100% !important;
    opacity: .5;
    background-color: #3c3c3c;
}

.classification-banner{
    position: absolute;
    text-align: center;
    top:0;
    left: 50%
}
.classification-banner>div{
    position: relative;
    left: -50%;
    padding: 5px;
    color: #ffffff;
    font-size: 10px;
    background-color: #5cb85c;
    border: 1px solid #d6e9c6;
    border-top: none;
}

.strike{
    text-decoration: line-through;
}

#settings{
    display: none;
}

#welcome{
    margin-right: 5px;
}
.page-content{
    position: relative;
    overflow: hidden;
    padding-top: 119px;
}

.error-page{
    padding-top: 52px;
    overflow: hidden;
}

.page, .page-content, .full-height {
    height: 100% !important;
    min-height: 100% !important;
}

.page{
    margin: 0 !important;
    padding: 0 !important;
}

.main-content, .content {
    padding: 0 5px;
    white-space: nowrap;
}

.shadowed{
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.panel-1{
    padding: 5px;
}

.page-panel, .panel-content, .pg-panel
{
    margin-bottom: 5px;
    background-color: #ffffff;
    border: solid 1px #D4D4D4;
}

.page-panel, .panel-content{
    clear: both;
    display: block;
    position: relative;

    white-space: normal;
    overflow-x: hidden;
    overflow-y: auto;
}
.page-panel{
    display: none;
}

.page-panel > * {
    clear: both;
}

.page-panel, .common-radius{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.panel-heading{
    clear: both;
    position: relative;
}

.panel-hdr-small {
    padding: 5px 5px 5px 5px;
}

.panel-hdr-small .glyphicons, .panel-hdr-small .glyphicons{

}

.top-menu{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2100000000;
}

.ui-autocomplete .ui-menu-item{
    font-size: 14px;
}

.top-menu>nav {
    position: relative;
}
.nothing{
    background-color: transparent;
    border: none;
}

.bordered{
    border: 1px solid #dddddd !important;
}
.bordered-bottom{
    border: none;
    border-bottom: 1px solid #dddddd;
}
.top-bordered{
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.bordered-trans{
    border: 1px solid transparent;
}

.box-shadow{
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.no-margin{
    margin: 0 0 0 0;
}
.no-padding{
    padding: 0 0 0 0;
}
.no-border, .inner-menu{
    outline: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.alert-zone{
    margin: -5px 0 5px 0;
}
.alert-block{
    display: none;
}

.alert{
    margin: 0 5px 0 5px;
}

.no-radius,.alert-block, .modal-content, .page-panel, .panel, .btn, input, input.form-control{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.inner-nav{
    background-color: #d9edf7;
    border: solid 1px #bce8f1;
}

.navbar{
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}

.menu-bar{
}

.menu-bar li {
    position: relative;
    top: 10px;
}

.menu-bar li:only-child{
    display: none;
}

.add-vertex{
    display: none;
    white-space: normal;
    margin: 50px auto 50px auto !important;
    width: 400px;
    max-width: 400px;
}

.navbar .divider-vertical {
    position: relative;
    display: inline-block;
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
    width: 5px;
    white-space: nowrap;
}

.inner-nav .navbar-brand{
    padding-top: 5px;
}

.user-content .nav-list-item:hover{
    color: #dff0d8 !important;
}
.nav-list-item{
    cursor: pointer;
}

.nav-list, .nav-list > li{
    position: relative;
    margin-right: 0;
}
.nav-list > li > a > i{
    position: absolute;
    right: 0;
    top: 4px;
}

.top-menu .nav-list-item .glyphicon{
    margin-right: 5px;
}

.nav-header{
    font-size: 16px;
}

.steps{
    display: none;
}
.bootstrap-select{
    text-align: left;
}
.bootstrap-select ul{
    width: 100% !important;
}
.bootstrap-select .caret{
    float: right;
    margin: 8px 5px 0 0;
}
.bootstrap-select > button {
    text-align: left;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    background: #ffffff none !important;
    border-color: #D4D4D4;
}

.full-width > button{
    width: 100%;
}
.btn-bar{
    clear: both;
    position: relative;
    display: block;
    text-align: right;
    width: 100% !important;
}
.btn-bar > button{
    text-align: left;
    margin-right: 5px;
}
.btn-bar > button:last-child{
    margin-right: 0;
}

.select-option {
    height: 20px;
    min-height: 20px;
    padding-top: 2px;
    color: red;
}
.placeholder{
    display: none;
}

.add{
    cursor: pointer;
}

.hasError, .success{
    border-style: solid;
}

.navbar-brand img {
    position: relative;
    display: inline-block;
    height: 42px;
    top: -10px;
}
.navbar-brand .nav-title{
    position: relative;
    display: inline-block;
    top: -10px;
}

.data-label{
    margin-right: 5px !important;
}

.data-value, .login .data-value, .data-label{
    display: inline-block;
    vertical-align: top;
    margin: 0 0 2px 0;
    white-space: normal;
    font-style: normal;
}

.data-list{
    font-size: 14px;
    display: block;
    border-left: 5px solid #d9edf7;
    border-bottom: solid 1px #c3c3c3;
    line-height: 20px;
    padding-left: 5px;
    margin: 5px 0 5px 0;
}

.cve-title {
    padding-left: 20px;
    background: url("/assets/img/types/cve.png") no-repeat;
    background-size: 16px 16px;
}

.vulnMatrix-title {
    padding-left: 20px;
    background: url("/assets/img/vulnMatrix.png") no-repeat;
    background-size: 16px 16px;
}

.trends-title{
    padding-left: 20px;
    background: url("/assets/img/chart.png") no-repeat 2px;
    background-size: 16px 16px;
}

.enclave-title{
    padding-left: 20px;
    background: url("/assets/img/types/enclave.png") no-repeat 2px;
    background-size: 16px 16px;
}

.dashboard-title{
    padding-left: 20px;
    background: url("/assets/img/types/enclave.png") no-repeat 2px;
    background-size: 16px 16px;
}

.rss-title {
    padding-left: 20px;
    background: url("/assets/img/types/rss.png") no-repeat;
    background-size: 16px 16px;
}

.bs-callout.bs-red{
    font-size: 12px;
    display: block;
    border-left: 5px solid #D70F0E;
    min-height: 40px;
    margin: 5px -5px 20px 0;
    padding: 2px 5px;
}

.clickable{
    cursor: pointer;
}

.clickable:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

.italics{
    font-style: italic;
}
.centered{
    text-align: center;
    vertical-align: middle;
}
.ellipse-it{
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.loader {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.fav-left{
    float: left;
    height: 20px !important;
    margin-top: 2px;
    margin-right: 5px;
}
.fav-right img, .fav-left img{
    height: 20px !important;
}
.fav-right {
    float: right;
    height: 20px !important;
    margin-left: 5px;
}
@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0 -2.6em 0 0 #ffffff, 1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 #ffffff, 1.75em 1.75em 0 0 #ffffff, 0 2.5em 0 0 #ffffff, -1.8em 1.8em 0 0 #ffffff, -2.6em 0 0 0 #ffffff, -1.8em -1.8em 0 0 #ffffff;
    }
    12.5% {
        box-shadow: 0 -2.6em 0 0 #ffffff, 1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 #ffffff, 1.75em 1.75em 0 0 #ffffff, 0 2.5em 0 0 #ffffff, -1.8em 1.8em 0 0 #ffffff, -2.6em 0 0 0 #ffffff, -1.8em -1.8em 0 0 #ffffff;
    }
    25% {
        box-shadow: 0 -2.6em 0 0 #ffffff, 1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 #ffffff, 1.75em 1.75em 0 0 #ffffff, 0 2.5em 0 0 #ffffff, -1.8em 1.8em 0 0 #ffffff, -2.6em 0 0 0 #ffffff, -1.8em -1.8em 0 0 #ffffff;
    }
    37.5% {
        box-shadow: 0 -2.6em 0 0 #ffffff, 1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 #ffffff, 1.75em 1.75em 0 0 #ffffff, 0 2.5em 0 0 #ffffff, -1.8em 1.8em 0 0 #ffffff, -2.6em 0 0 0 #ffffff, -1.8em -1.8em 0 0 #ffffff;
    }
    50% {
        box-shadow: 0 -2.6em 0 0 #ffffff, 1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 #ffffff, 1.75em 1.75em 0 0 #ffffff, 0 2.5em 0 0 #ffffff, -1.8em 1.8em 0 0 #ffffff, -2.6em 0 0 0 #ffffff, -1.8em -1.8em 0 0 #ffffff;
    }
    62.5% {
        box-shadow: 0 -2.6em 0 0 #ffffff, 1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 #ffffff, 1.75em 1.75em 0 0 #ffffff, 0 2.5em 0 0 #ffffff, -1.8em 1.8em 0 0 #ffffff, -2.6em 0 0 0 #ffffff, -1.8em -1.8em 0 0 #ffffff;
    }
    75% {
        box-shadow: 0 -2.6em 0 0 #ffffff, 1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 #ffffff, 1.75em 1.75em 0 0 #ffffff, 0 2.5em 0 0 #ffffff, -1.8em 1.8em 0 0 #ffffff, -2.6em 0 0 0 #ffffff, -1.8em -1.8em 0 0 #ffffff;
    }
    87.5% {
        box-shadow: 0 -2.6em 0 0 #ffffff, 1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 #ffffff, 1.75em 1.75em 0 0 #ffffff, 0 2.5em 0 0 #ffffff, -1.8em 1.8em 0 0 #ffffff, -2.6em 0 0 0 #ffffff, -1.8em -1.8em 0 0 #ffffff;
    }
}
@keyframes load5 {
    0%,
    100% {
        box-shadow: 0 -2.6em 0 0 #ffffff, 1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 #ffffff, 1.75em 1.75em 0 0 #ffffff, 0 2.5em 0 0 #ffffff, -1.8em 1.8em 0 0 #ffffff, -2.6em 0 0 0 #ffffff, -1.8em -1.8em 0 0 #ffffff;
    }
    12.5% {
        box-shadow: 0 -2.6em 0 0 #ffffff, 1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 #ffffff, 1.75em 1.75em 0 0 #ffffff, 0 2.5em 0 0 #ffffff, -1.8em 1.8em 0 0 #ffffff, -2.6em 0 0 0 #ffffff, -1.8em -1.8em 0 0 #ffffff;
    }
    25% {
        box-shadow: 0 -2.6em 0 0 #ffffff, 1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 #ffffff, 1.75em 1.75em 0 0 #ffffff, 0 2.5em 0 0 #ffffff, -1.8em 1.8em 0 0 #ffffff, -2.6em 0 0 0 #ffffff, -1.8em -1.8em 0 0 #ffffff;
    }
    37.5% {
        box-shadow: 0 -2.6em 0 0 #ffffff, 1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 #ffffff, 1.75em 1.75em 0 0 #ffffff, 0 2.5em 0 0 #ffffff, -1.8em 1.8em 0 0 #ffffff, -2.6em 0 0 0 #ffffff, -1.8em -1.8em 0 0 #ffffff;
    }
    50% {
        box-shadow: 0 -2.6em 0 0 #ffffff, 1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 #ffffff, 1.75em 1.75em 0 0 #ffffff, 0 2.5em 0 0 #ffffff, -1.8em 1.8em 0 0 #ffffff, -2.6em 0 0 0 #ffffff, -1.8em -1.8em 0 0 #ffffff;
    }
    62.5% {
        box-shadow: 0 -2.6em 0 0 #ffffff, 1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 #ffffff, 1.75em 1.75em 0 0 #ffffff, 0 2.5em 0 0 #ffffff, -1.8em 1.8em 0 0 #ffffff, -2.6em 0 0 0 #ffffff, -1.8em -1.8em 0 0 #ffffff;
    }
    75% {
        box-shadow: 0 -2.6em 0 0 #ffffff, 1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 #ffffff, 1.75em 1.75em 0 0 #ffffff, 0 2.5em 0 0 #ffffff, -1.8em 1.8em 0 0 #ffffff, -2.6em 0 0 0 #ffffff, -1.8em -1.8em 0 0 #ffffff;
    }
    87.5% {
        box-shadow: 0 -2.6em 0 0 #ffffff, 1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 #ffffff, 1.75em 1.75em 0 0 #ffffff, 0 2.5em 0 0 #ffffff, -1.8em 1.8em 0 0 #ffffff, -2.6em 0 0 0 #ffffff, -1.8em -1.8em 0 0 #ffffff;
    }
}

.panel-contain{
    height: 400px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto
}

.panel-heading-menubar{
    position: absolute;
    right: 5px;
    top: -4px;
}

.modal, .modal-dialog{
    z-index: 2147480001;
}

.popover{
    min-width: 300px;
    max-width: 400px;
    z-index: 2147480002;
}

.ui-autocomplete{
    z-index: 2147480002;
    max-height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-header{
    color:#333;background-color:#f5f5f5;border-color:#ddd
}
.panel-heading-title, panel-heading-title-35{
    position: relative;
    display: inline-block;
    margin-left: 30px;
    font-size: 14px !important;
    line-height: 24px;
    top: 0;
}

.modal-header .panel-heading-title, panel-heading-title-35{
    top: 18px;
    margin-left: 0px;
}
.panel-heading-title-35{
    margin-left: 35px;
}

.nav-list li{
    margin: 0 -10px 0 0;
}
.nav-list-item{
    top: 6px;
}

.glyph-title{
    margin-left: 32px;
}

.glyph-ext-pad{
    margin-left: 36px;
}

.icon-parent{
    vertical-align: top;
}

.icon-parent .glyphicons-clock{
    padding-right: 4px;
}

.icon-parent > div{
    vertical-align: top;
}

.icon-parent{
    position: absolute;
    font-size: 24px;
    width: 24px;
    height: 24px;
    white-space: nowrap;
    top: 8px;
}

.icon-parent .glyphicon, .icon-glyph, .icon-parent .glyphicons{
    max-width: 24px;
    max-height: 24px;
    height: 24px;
    width: 24px;
    background-size: 24px 24px !important;
    white-space: nowrap;
}

.icon-parent .glyphicon, .icon-parent .glyphicons{
    font-size: 24px;
}
.icon-parent .glyphicons{
    position: relative;
    top:-4px;
}

.icon-parent > div{
    min-width: 24px;
    min-height: 24px;
    background-size: 24px 24px;
}

.icon-enclave{
    background-image: url("/assets/img/types/enclave.png");
}

.icon-feedback{
    background-image: url("/assets/img/comment.png");
}

.icon-dashboard{
    background-image: url("/assets/img/dashboard.png");
}


.icon-bug{
    background-image: url("/assets/img/bug.png");
}
.icon-organization {
    background-image: url("/assets/img/types/organization.png");
}

/*http://www.bootply.com/74926*/
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content {
    display: block;
    border: solid 1px #d4d4d4;
    border-top: none !important;
    min-height: 100px !important;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
}

.results-group{

}
.result-group-item{
    border-bottom: solid 1px #ddd;
    padding: 5px;
    line-height: 20px;
    font-size: 14px;
}

.shadowed{
    letter-spacing: 2px;
    color: #333;
    text-shadow: -1px 0 #eeeeee, 0 1px #eeeeee, 1px 0 #eeeeee, 0 -1px #eeeeee;
}

.divider-vertical {
    position: relative;
    display: inline-block;
    height: 34px !important;
    margin: 0 9px;
    border-right: 1px solid #ffffff !important;
    border-left: 1px solid #f5f5f5 !important;
    width: 5px;
    white-space: nowrap;
}

.collapse-tab-left, .collapse-tab-right{
    width: 20px;
    max-width: 20px;
    min-height: 42px;
    height: 42px;
    max-height: 42px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    top: 0;
    right: 0;
    cursor: pointer;
}

.collapse-tab-left > span, .collapse-tab-right > span{
    position: relative;
    top: 8px;
    left: -4px;
}

.mb-btn{
    height: 36px;
    max-height: 36px;
}

.span.glyphicon, .span.glyphicons{
    font-size: 14px !important;
}

.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border: 5px solid transparent;
    border-right-width: 0;
    border-left-color: #cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.action-item{
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}
.action-item > div{
    position: relative;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
}
.panel-border{
    background-color: #ffffff;
    border: solid 1px #D4D4D4;
}

.breadcrumb-zone{
    min-height: 36px;
}
.breadcrumb-zone ol.breadcrumb{
    margin-bottom: 0 !important;
}

.block-top{
    display: inline-block;
    vertical-align: top;
}

.no-hover{
    cursor: pointer !important;
}

.letterpress{
    text-shadow: 0 1px 1px #5f5f5f;
    color: #333;
}

.jumbotron > div{
    font-size: 12px;
}

.resize-h{
    resize: horizontal;
}
.resize-v{
    resize: vertical;
}
.resize-b{
    resize: both;
}

.separator *{
    border-left: 2px solid #c3c3c3;
    margin-left: 5px;
    padding-left: 5px;
}
.separator *:first-child{
    border-left: none !important;
    margin-left: 0;
    padding-left: 0;
}
.scroller-disabled{
    overflow: hidden !important;
}
.scroll-enabled{
    position: static;
    overflow: auto;
}
.info-block{
    background-color: #f8f8f8;
    padding: 10px;
    border: solid 1px #e7e7e7;
    margin-bottom: 10px;
}

.list-sum-item{
    padding: 5px 5px 5px 5px;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.metric-card{
    margin-right: 10px;
}
