.tabbable, .tab-pane, .tab-content{
    height: 100% !important;
}

.tree-node, .panel-contain{
    height: 100% !important;
}
.ditpr-customized{
    font-weight: bold;
    color: #f0ab36;
    cursor: help;
}